<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Information</title>
</head>

<body>
    <h1>내부 아이피:
        <%= internalIP %>
    </h1>
    <h1>외부 아이피:
        <%= externalIP %>
    </h1>
    <h1>공인 아이피:
        <%= publicIP %>
    </h1>
</body>

</html>